* {
    text-decoration: none;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: black;
}


header {
    background-image: url(Assets/image-header.png);
    height: 100vh;
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: cover;
}

nav {

    text-align: right;

    li {
        font-size: 18px;
        display: inline-block;
        text-align: right;

        a {
            color: white;
            padding: 5px;
            text-transform: uppercase;

        }
    }

}

.navy {
    padding: 50px;
    margin-right: 20px;
}

#logo {
    padding: 50px;
    float: left;
}


#hero {

    color: white;

    .main_part {
        text-align: left;
    }

    h1 {
        font-size: 110px;
        font-style: 'regular';

        span {
            font-size: 53px;
        }
    }

    h2 {
        font-size: 20px;
        font-style: bold;
        margin-bottom: 50px;

        .parc {
            font-weight: 300;
        }
    }

}

.buttonUn {
    background-color: black;
    padding: 20px 32px;
    border-radius: 8px;
    margin-right: 15px;
    color: white;
}

.buttonDeux {
    background-color: white;
    color: black;

}

#hero>div {
    width: 600px;
    margin: auto;
    margin-bottom: 50px;


}

.description {
    background-color: black;
    color: white;
    padding: 60px;

    h2 {
        font-size: 48px;
        font-style: normal;
        font-weight: 250;
        margin-bottom: 50px;
    }

    p {
        font-size: 20px;
        margin-top: 20px;
    }

    .desc_text {
        width: 600px;
        margin: auto;
    }
}

.line-up {
    /* text-align: center; */
    background-color: black;
    color: white;
    padding: 100px 100px;
    font-weight: bold;
    text-transform: uppercase;

    h2 {
        margin-bottom: 50px;
        text-align: center;
        font-size: 36px;
    }

    ul {
        margin-bottom: 50px;
        list-style: none;
        font-size: 28px;
    }

    li {
        border-top: 2px dashed rgba(255, 255, 255, 0.893);
    }

    .artist {
        width: 600px;
        margin: auto;
    }

}

.ticket {
    text-align: center;

    a {
        color: black;
        background-color: white;
        padding: 15px 32px;
        border-radius: 8px;
        margin-top: 40px;
        margin-left: 15px;
    }
}



.singing_man {
    img {
        width: 100%;
    }
}

.banniere {
    background-image: url(Assets/banniere-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    #ads {
        text-align: center;
        padding: 150px 50px;

        img {
            padding-right: 20px;
        }
    }
}

#formulat {


    background-color: black;

    .container {
        text-align: center;
        width: 600px;
        margin: auto;
        color: white;
        background-color: black;

    }

    .container {
        color: white;

        p a {
            color: white;
            text-decoration: underline;
        }

        h2 {
            text-transform: uppercase;
        }
    }

    .formUn div {
        display: inline-grid;
        text-align: left;
        width: 100%;
        text-decoration: none;
    }

}

/* section footer */
.footer_top {
    background-color: black;
    color: white;
    font-size: 16px;
}

.email {
    display: inline-block;
    font-style: medium;

    a {
        color: white;
        text-decoration: underline;
    }
}

.newsletter {
    float: right;

    button {
        background-color: black;
    }

    a {
        color: white;
        background-color: black;
        border: none;
    }

}

.footer_bottom {
    background-color: white;
    color: black;
    font-size: 12px;
    margin: 25px;
}

.copyright {
    display: inline-block;
}

#terms {
    float: right;
}