* {
    text-decoration: none;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

a,
button {
    color: inherit;
}

body {
    background-color: black;
    color: white;
}

.container {
    width: 600px;
    margin: auto;
}

.paddingSection {
    padding: 80px 24px;
}

/* section header */
header {
    background-image: url(Assets/image-header.png);
    height: 100vh;
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: cover;
}

nav {

    text-align: right;

    li {
        font-size: 18px;
        display: inline-block;
        text-align: right;

        a {
            padding: 5px;
            text-transform: uppercase;

        }
    }

}

.navy {
    padding: 50px;
    margin-right: 20px;
}

#logo {
    padding: 50px;
    float: left;
}

/* Hero section */
#hero {


    .main_part {
        text-align: left;
    }

    h1 {
        font-size: 100px;
        font-style: 'regular';

        span {
            font-size: 45px;
        }
    }

    h2 {
        font-size: 20px;
        font-style: bold;
        margin-bottom: 50px;

        .parc {
            font-weight: 300;
        }
    }

}

.buttonUn {
    background-color: black;
    padding: 8px 20px;
    border-radius: 8px;
    margin-right: 15px;
}

.buttonDeux {
    background-color: white;
    color: black;

}

.centered {
    margin: auto;
    width: fit-content;
    display: block;
}

/* description section */
.description {
    padding: 60px;

    h2 {
        font-size: 35px;
        font-style: normal;
        font-weight: 250;
        margin-bottom: 50px;
    }

    p {
        font-size: 20px;
        margin-top: 20px;
    }

}

.line-up {
    /* text-align: center; */
    font-weight: bold;
    text-transform: uppercase;

    h2 {
        margin-bottom: 50px;
        text-align: center;
        font-size: 36px;
    }

    ul {
        margin-bottom: 50px;
        list-style: none;
        font-size: 28px;
    }

    li {
        border-top: 2px dashed rgba(255, 255, 255, 0.893);
    }

}

.ticket {
    text-align: center;

}

.singing_man {
    img {
        width: 100%;
    }
}

/* section banniere */
.banniere {
    background-image: url(Assets/banniere-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    #ads {
        text-align: center;
        padding: 150px 50px;

        img {
            padding-right: 20px;
        }
    }
}

/* section Contactez-nous form */
#formulat {

    .container {
        text-align: center;

        p a {
            text-decoration: underline;
        }

        h2 {
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }

    .formUn div {
        display: inline-grid;
        text-align: left;
        font-size: 10px;
        width: 100%;
        text-decoration: none;

        input {
            background-color: rgba(128, 128, 128, 0.6);
        }

        #Message {
            height: 100px;
            background-color: rgba(128, 128, 128, 0.6);
        }
    }

}

/* section footer */
.footer_top {
    font-size: 16px;
}

.email {
    display: inline-block;
    font-style: medium;

    a {
        text-decoration: underline;
    }
}

.newsletter {
    float: right;

    a {
        border: none;
    }

}

.footer_bottom {
    background-color: white;
    padding: 12px 24px;
    color: black;
    font-size: 12px;
}

.copyright {
    display: inline-block;
}

#terms {
    float: right;
}